<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1>Sobrenatural </h1>
        <h2>13 de setembro de 2005</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/3iFm6Kz7iYoFaEcj4fLyZHAmTQA.jpg">
        <p>Os irmãos Dean e Sam vasculham o país em busca 
          de atividades paranormais, brigando com demônios, 
          fantasmas e monstros no caminho.</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>How I Met Your Mother</h1>
        <h2>19 de setembro de 2005</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/sidx8cEiYG1ZBwzyF5wiXFaBm6Q.jpg">
        <p>No ano de 2030, Ted Mosby, um arquiteto, 
          decide explicar a seus filhos a história de 
          como ele conheceu a mãe deles. Tudo começou 
          em 2005, quando um de seus amigos…</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h1>Stranger Things</h1>
        <h2>15 de julho de 2016</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg">
        <p>Quando um garoto desaparece, a cidade toda participa 
          nas buscas. Mas o que encontram são segredos, 
          forças sobrenaturais e uma menina.</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Friends</h1>
        <h2>22 de setembro de 1994</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/7buCWBTpiPrCF5Lt023dSC60rgS.jpg">
        <p>Seis jovens são unidos por laços familiares, românticos e, 
          principalmente, de amizade, enquanto tentam vingar 
          em Nova York. Rachel é a garota mimada que deixa o…</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
